@model UserLogin

<form action="/login" method="post">
    <div class="flex_col gap">
        <div>
            <label asp-for="LEmail"></label>
            <input asp-for="LEmail">
            <span asp-validation-for="LEmail"></span>
        </div>
        <div>
            <label asp-for="LPassword"></label>
            <input asp-for="LPassword">
            <span asp-validation-for="LPassword"></span>
        </div>
        <input type="submit" value="Login">
    </div>
</form>